<h1 class="title">記事一覧</h1>

<div class="columns is-multiline">
  <% @articles.each do |article| %>
    <div class="column is-one-fifth">
      <%= link_to article do %>
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1">
              <%= cl_image_tag article.images.first.cl_id, width: 500, height: 500, crop: :fill %>
            </figure>
          </div>
        </div>
        <p class="is-clipped has-text-weight-bold">
          <%= article.title %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
