<h1>Editing Image</h1>

<%= render 'form', article: @article, image: @image %>

<%= link_to 'Show', article_image_path(@article, @image) %>
<%= link_to "Article #{@article.id} Images", article_images_path(@article) %>
